<!-- <carousel>
    <slide>
        <img src="assets/images/logo.png" alt="slide1", style="display:block; width:100%">
    </slide>
    <slide>
        <img src="assets/images/logo.png" alt="slide1", style="display:block; width:100%">
    </slide>
    <slide>
        <img src="assets/images/logo.png" alt="slide1", style="display:block; width:100%">
    </slide>
</carousel> -->

<carousel>
    <slide>
       <img src="assets/images/slide1.jpg" alt="image slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/slide2.jpg" alt="image slide" style="display: block; width: 100%;">
     </slide>
     <slide>
        <img src="assets/images/slide3.jpg" alt="image slide" style="display: block; width: 100%;">
     </slide>
 </carousel>
<section class="featured">
    <div class="d-flex justify-content-center pt-4">
        <h1>Welcome to shop!</h1>
    </div>
</section>